* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #7d7d7d;
  letter-spacing: 0.2px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
}

h2 {
  font-size: 50px;
  margin-bottom: 24px;
}

h4 {
  text-transform: none;
  font-family: "Lato", Sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
}

button {
  border: none;
  box-shadow: none;
}

.wh-d-flex {
  display: flex;
}

.wh-d-flex-vertical {
  display: flex;
  flex-direction: column;
}

.wh-d-flex-vertical-center {
  justify-content: center;
}

.wh-super-txt {
  font-family: "Old Standard TT", serif;
  font-size: 16px;
  vertical-align: super;
}

.wh-btn {
  width: 210px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 51px;
  letter-spacing: 0.9px;
}

.wh-btn-primary {
  color: #fff;
  background-color: #ff4157;
  border: 1px solid #ff4157;
}

.wh-btn-primary:hover {
  color: #ff4157;
  background-color: #162541;
}

.wh-badge {
  width: 165px;
  background-color: #aac05c;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  line-height: 35px;
}

/* Room details section */
.room-price-section {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 200px 0px 250px;
}

.room-price-section .wh-container {
  width: 70%;
  max-width: 865px;
}

.room-price-section .wh-badge {
  margin-bottom: 15px;
}

.booking-offer {
  background-color: #fff;
  flex: 0 0 60%;
  padding: 50px 50px 45px;
}

.booking-offer h2 {
  letter-spacing: -1px;
}

.booking-details {
  background-color: #162541;
  flex: 0 0 40%;
  padding: 25px 10px 10px 50px;
  color: #fff;
}

@media (min-width: 1500px) {
  .room-price-section .wh-container {
    margin: 0 auto;
  }
}
